#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d9832e;
    z-index: 99999;
}

.load-circle {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;
}

.load-circle span {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.load-circle span:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    border-color: #ffffff transparent #ffffff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #fff;
}

.navbar__container {
    position: relative;
    max-width: 1140px;
    width: 100%;
    padding: .5rem 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__btn {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 0;
    padding: 0;
    margin-left: 15px;
    background: #d9832e;
    border: none;
}

.navbar__btn span{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 2px;
    margin: auto;
    box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
    background: #ffffff;
    color: #ffffff;
}

.navbar__list {
    position: absolute;
    height: 0;
    overflow: hidden;
    top: 60px;
    right: 16px;
    left: 16px;
    background: #ffffff;
    visibility: hidden;
    border: 1px solid #ddd;
    transition: height .3s ease;
}

.navbar__list.show {
    height: 211px;
    visibility: visible;
    transition: height .3s ease;
}

.navbar__item {
    padding: 8px 16px;
    border-bottom: 1px solid gainsboro;
}

.navbar__link.active {
    color: #d9832e;
}

.navbar__link:hover{
    color: #d9832e;
}

.navbar__item:last-of-type {
    border-bottom: unset;
}

.navbar__link {
    display: inline-block;
    width: 100%;
    color: #000;
}


.navbar__logo {
    display: inline-block;
    font-weight: 600;
    font-family: DancingScript;
    font-size: 1.3rem;
    color: #090a0c;
}

.navbar__logo:hover {
    color: #d9832e;
}

.navbar__logo span {
    font-weight: 600;
    font-family: DancingScript;
    font-size: 1.3rem;
    color: #d9832e;
}

.home__container {
    position: relative;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 15px;
}

.home__content,
.home__btn {
    padding: 20px;
}

.home__image {
    padding: 0 20px;
}

.home__content h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 20px;
    line-height: 1;
}

.home__content h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 20px;
}

.home__content p {
    text-align: justify;
}

.home__btn a {
    display: inline-block;
    border: 2px solid #d9832e;
    color: #d9832e;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
}

.home__btn a:first-of-type {
    background: #d9832e;
    color: #ffffff;
}

.home__container .go-to-next {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    width: 35px;
    margin: auto;
    z-index: 1;
    text-align: center;
}

.home__container .go-to-next a {
    width: 35px;
    height: 35px;
    position: relative;
    display: inline-block;
    background: #d9832e;
    border-radius: 50%;
    animation: down 1s linear infinite;
}

.home__container .go-to-next a span {
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(135deg);
}

#about {
    background-color: #eaedf2;
    padding: 40px 0;
}

.about__container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.about__title {
    margin-bottom: 20px;
}

.about__title h3 {
    position: relative;
    display: inline-block;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0 0 10px;
    z-index: 1;
    vertical-align: top;
}

.about__title h3::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px ;
    right: 0;
    bottom: 0;
    background-color: #d9832e;
}

.about__info {
    margin-top: 30px;
}

.about__info__image {
    margin: 15px 0;
    border: 14px solid #ffffff;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 3px 10px 0px rgb(38 59 94 / 10%);
}

.about__info__image img {
    width: 100%;
    height: 100%;
}

.about__social-icon {
    display: flex;
    flex-direction: column;
    width: 50px;
    position: absolute;
    top: 20px;
    left: -10px;
    background: #ffffff;
    padding: 8px;
}

.about__social-icon a {
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #d9832e;
    color: #ffffff;
    margin: 3px 0;
    font-size: 16px;
}

.about__info__text h4 {
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 10px;
    color: #090a0c;
}

.about__info__text h5 {
    font-size: 18px;
    color: #090a0c;
    font-weight: 400;
    margin: 0 0 20px;
}

.about__info__text p {
    text-align: justify;
}

#projects {
    padding: 60px 0;
    background-color: #fff;
}

.projects__container {
    padding: 0 15px;
}

.projects__title h3 {
    position: relative;
    display: inline-block;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0 0 10px;
    z-index: 1;
    vertical-align: top;
}

.projects__title h3::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    right: 0;
    bottom: 0;
    background-color: #d9832e;
}

.projects__item {
    
}

/* keyframes start */
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes down {
    0% {
      top: 5px;
      opacity: 0; }
    30% {
      top: 15px;
      opacity: 1; }
    60% {
      top: 15px;
      opacity: 0.60; }
    100% {
      top: 25px;
      opacity: 0; }
}

@keyframes down {
    0% {
      top: 5px;
      opacity: 0; }
    30% {
      top: 15px;
      opacity: 1; }
    100% {
      top: 25px;
      opacity: 0; }
}

/* media query start */
@media (min-width: 992px) {
    .navbar__btn {
        display: none;
    }

    .navbar__list {
        all: unset;
        list-style-type: none;
        display: flex;
    }

    .navbar__item {
        border-bottom: unset;
    }

    .home__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .home__content {
        width: 50%;
    }
    
    .home__image {
        width: 50%;
        padding: unset;
    }

    .home__image img {
        width: 80%;
    }

    .home__container .go-to-next {
        bottom: 75px;
    }

    .about__info {
        display: flex;
        flex-direction: row-reverse;
    }

    .about__info__image {
        width: 40%;
    }
    
    .about__info__text {
        width: 60%;
        padding-left: 5rem;
    }

    #about {
        padding-top: 60px;
    }

    .about__title p {
        display: none;
    }
}

/* media query end */